<div class="row">
	<div class="twelve columns">
		<h1>Stats for labyrinth</h1>
	</div>
</div>

<table class="u-full-width">
	<tbody>
		<tr>
			<td>Unique IP's</td>
			<td><%= link_to @stats[:unique_ips], '/stats-for-labyrinth/ip-list' %></td>
		</tr>
		<tr>
			<td>Unique UA's</td>
			<td><%= link_to @stats[:unique_uas], '/stats-for-labyrinth/ua-list' %></td>
		</tr>
		<% @stats[:request_types].each do |key, value| %>
			<tr>
				<td><%= key %> requests</td>
				<td><%= value %></td>
			</tr>
		<% end %>
		<tr>
			<td>Total served pages</td>
			<td><%= link_to @stats[:total_served], '/stats-for-labyrinth/top-pages' %></td>
		</tr>
	</tbody>
</table>
